<%= turbo_frame_tag "login_signup_frame", class: "p-6 max-w-lg mx-auto bg-white rounded-xl shadow-md space-y-6" do %>
  <h1 class="text-2xl font-bold text-center text-gray-800">Sign Up</h1>

  <%= render "form" %>
<% end %>
